body {
  background-color: $color-grayish-blue;
  min-height: 100vh;
}
.main {
  margin: 0 auto;
  padding: 2rem;
  max-width: 144rem;
  width: 100%;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
